.padre {
    background-color: red;
    width: 500px;
    height: 500px;
    display: flex;
    overflow-x:scroll;
    
}

.hijo {
    background-color: white;
    border: 2px solid black;
    width: 100px;
    height: 100px;
    flex-shrink: 0;
    
}

