.cuerpo-principal {
    background-color: teal;
}

.principal {
    width: 90%;
    margin: 0px auto;
    background-color: lightgray;
}

.encabezado {
    height: 200px;
    width: 100%;
    background-image: url(imagenes/cocina-2-opacity.jpg);
    background-size: cover;
    background-position-y: 1110px;
    padding: 30px;
    /* font-family: 'Pacifico', cursive; */
    font-family: 'Monoton', cursive;
    font-size: 30px;
    text-align: center;
    line-height: 70px;
    color: white;
    text-shadow: 5px 5px 3px black;
}

.caja-nav {
    background-color: rgb(34, 34, 34);
    width: 50%;
    height: 50px;
    float: left;
}

.navegador ul li {
    background-color: rgb(34, 34, 34);
    height: 50px;
    color: white;
    float: left;
    padding: 10px;
    font-size: 20px;
    /*font-family: 'Pacifico', cursive;*/
    font-family: 'Share Tech Mono', monospace;
    font-weight: 100;
    list-style: none;
    text-align: center;
    line-height: 30px;
}

.navegador ul li:hover {
    background-color: rgb(61, 61, 61);
}

.barra-buscar {
    background-color: rgb(34, 34, 34);
    width: 50%;
    height: 50px;
    float: right;
    text-align: center;
    line-height: 50px;
}

.art-receta-1 {
    width: 50%;
    height: 450px;
    background-color: rgb(138, 156, 156);
    float: left;
    margin: 0;
    padding: 25px;
    font-family: 'Share Tech Mono', monospace;
}

.imagen-1 {
    width: 50%;
    height: 450px;
    float: left;
    background-image: url(imagenes/goulash.jpg);
    padding: 0px;
    background-size: cover;
}

.art-receta-2 {
    width: 50%;
    height: 450px;
    background-color: rgb(170, 184, 149);
    float: left;
    margin: 0;
    padding: 25px;
    font-family: 'Share Tech Mono', monospace;
}

.imagen-2 {
    width: 50%;
    height: 450px;
    float: left;
    background-image: url(imagenes/niños_envueltos.jpg);
    padding: 0px;
    background-size: cover;  
}

.art-receta-3 {
    width: 50%;
    height: 450px;
    background-color: rgb(240, 183, 216);
    float: left;
    margin: 0;
    padding: 25px;
    font-family: 'Share Tech Mono', monospace;
}

.imagen-3 {
    width: 50%;
    height: 450px;
    float: left;
    background-image: url(imagenes/empanadas_argentinas.jpg);
    padding: 0px;
    background-size: cover;
}


.pie-de-pagina {
    height: 50px;
    width: 100%;
    display: flex;
    background-color: rgb(34, 34, 34);
    padding: 15px;
    font-size: 20px;
    font-family: 'Share Tech Mono', monospace;
    color: white;

}

.social ul li {
    list-style: none;
    display: inline-flex;
    position: relative;
    left: 400px;
    color: white;
    margin: 0 15px;
    box-sizing: border-box;    
}

.social i {
    color: white
}