@import 'basic.css';

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

/* ESTILOS CUERPO GENERAL */

.cuerpo {
    background-image: url(/_resources/food\ pattern.png);
    background-size: 15em;
    background-attachment: fixed;
}

/* ESTILOS MENU NAVEGACION */   

.menu {    
    width: 90vw;
    text-align: start;
    height: 7em;
    background-color: rgb(27, 27, 27);
}

.menu ul li {
    display: inline-block;
    height: 10em;
}

.menu ul li a {
    color: white;
    height: 7em;
    text-decoration: none;
    display: block;
    padding: 15px ;
    letter-spacing: 5px;
    
}

.menu a:hover {
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 7px 1px black;
    color: black;
    transition: 1s;
}

.menu-container {
    display: flex;
}

.logo {
    background-color:rgb(255, 255, 255) ;
    /*background-color: rgb(27, 27, 27);*/
    width: 7vw;
    height: 7em;
    
}

.img-logo  {
    width: 100px;
    padding: 10px;
    filter: drop-shadow(1px 1px 1px red);
}

.relleno {
    width: 3vw;
    text-align: start;
    height: 7em;
    background-color: rgb(27, 27, 27);
}
/* ESTILOS ENCABEZADO */

.encabezado {
    background-color: lightgray;
    width: 85vw;
    height: 27em;
    margin: auto;
    background-image: url(/imagenes/comida-mesa.jpg);
    background-repeat: no-repeat;
    object-fit: cover;
    background-position: center;
}

/* ESTILOS CONTENIDO CENTRAL */

.container {
    display: flex;
    width: 85vw;
    margin: auto;
    height: 120vh;
    flex-grow:0;
}

.principal {
    display: flex;
    background-color: rgb(255, 255, 255, 1);
    flex-basis: 70vw;
    justify-content: space-around;
    align-content: space-around;
    flex-wrap: wrap;
    flex-shrink: ;
}

.recetas {
    flex-basis: 250px;
    height: 300px;
    background-color: rgb(27, 27, 27);
    color: white;
    flex-wrap: wrap;
    padding: 10px;
    box-shadow: 1px 1px 7px 1px black;
    text-align: center;
    
}

.imagen img{
    width: 250px;
    height: 170px;
}

/* ESTILOS BARRA LATERAL ASIDE */ 

.barra-lateral {
    background-color: rgb(27, 27, 27);
    flex-basis: 20vw;
    color: white;

}

.barra-lateral{
    padding: 10px;
    text-align: center;
}

.postres {
    justify-content: space-around;
    align-content: space-around;
}

.img-postres img {
    padding-top: 10px;
    width: 230px;
    height: 170px;

}



/* ESTILOS PIE DE PAGINA */ 

.pie-de-pagina {
    text-align: center;
    height: 5em;
    background-color: rgb(27, 27, 27);
    color: white;
    line-height: 5em ;
    display: flex;
    justify-content: center;
}

.social ul a{
    text-decoration: none;
    list-style: none;
    display: inline-block;
    font-size: 1.5em;
    color: white;
    padding:10px;
} 

