.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1em;
}

.block-center-row {
    display: flex;
    justify-content: center;
}

.mb-1 { /* MARGIN BOTTOM */
    margin-bottom: 1em;
}

.mb-2 { /* MARGIN BOTTOM */
    margin-bottom: 2em;
}

.mb-3 { /* MARGIN BOTTOM */
    margin-bottom: 3em;
}

